#set($layout="layoutblank.vm")

<style>
    a.dt-button:focus{
        outline: none;
    }
    .data-table-buttons{
        padding-bottom: 5px;
        padding-right: 0px;
    }
</style>
<table id="app-limit-table" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>应用名</th>
        <th>MAX-QPS</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($data in $appConfigs.getConfigs().entrySet())
            <tr>
                <td>${data.key}</td>
                <td>${data.value}</td>
                <td>
                    <div class="hidden-sm hidden-xs action-buttons">
                        <a  class="primary app-limit-update">
                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="red app-limit-delete">
                            <i class="ace-icon fa fa-times bigger-130"></i>
                        </a>
                    </div>
                </td>
            </tr>
        #end
    </tbody>
</table>
<script>
    jQuery(function($) {
        function modalInit(options) {
            var settings = $.extend(
                    {},
                    {
                        appNameTypeAheadPlaceHolder:"输入应用名",
                        appNameShow:false,
                        appTitle:"",
                        qpsPlaceHolder:"",
                        appName:"",
                        disableQPS:"false"

                    },
                    options);
            $("#app-limit-modal-title").html(settings.appTitle);
            $("#typeahead-app-name").attr("placeholder",settings.appNameTypeAheadPlaceHolder);
            $("#typeahead-app-name").val("");
            if(settings.appNameShow){
                $("#app-name-form").show();
                $("#app-name-readonly").hide();
            }else{
                $("#app-name-form").hide();
                $("#app-name-readonly").show();
            }
            $("#app-submit").unbind('click');
            $("#app-name").val(settings.appName);
            $("#app-name").attr("disabled","disabled");
            if(settings.appNameShow){
                $("#app-qps").val(settings.qpsPlaceHolder);
            }else{
                $("#app-qps").val("");
                $("#app-qps").attr("placeholder",settings.qpsPlaceHolder);
            }
            if(settings.disableQPS){
                $("#app-qps").attr("disabled","disabled");
            }else $("#app-qps").removeAttr("disabled");
        }
        var hash = window.location.hash;
        var projectName = hash.split("/")[2];
        $(document).ready(function () {
            $('#app-limit-table').DataTable({
                bAutoWidth: false,
                aoColumns: [
                    null,
                    null,
                    null
                ],
                "aaSorting": [],
                dom: "<'myRow'<'col-xs-8 table-title'><'col-xs-4 data-table-buttons'B>>" +
                "<'row aceTableRow'<'col-xs-3'l><'col-xs-9'fr>>" +
                "t" +
                "<'row'<'col-xs-3'i><'col-xs-9'p>>",
                buttons:[
                    {
                        text: '<div class="button button-primary button-circle button-small"><i class="fa fa-plus "></i></div>',
                        action: function (e, dt, node, config) {
                            modalInit({
                                appNameShow:true,
                                appTitle:"新建应用限流配置",
                                appNameTypeAheadPlaceHolder:"请输入应用名",
                                qpsPlaceHolder:"输入QPS限制"
                            });
                            $("#app-limit-modal").modal("show");
                            $("#app-submit").bind('click',function(){
                                var appName = $("#typeahead-app-name").val();
                                if(appName==""){
                                    bootbox.dialog({
                                        message: "非法输入!!!",
                                        buttons: {
                                            "success": {
                                                "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                                "className": "btn-sm btn-success",
                                                "callback": function() {}
                                            }
                                        }
                                    });
                                    return;
                                }
                                var appQps = $("#app-qps").val();
                                if(isNaN(appQps)){
                                    bootbox.dialog({
                                        message: "QPS输入值非法!!!",
                                        buttons: {
                                            "success": {
                                                "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                                "className": "btn-sm btn-success",
                                                "callback": function() {}
                                            }
                                        }
                                    });
                                    return;
                                }else{
                                    $.ajax({
                                        type: "post",
                                        url:"applimit/add",
                                        data:{
                                            "projectName":projectName,
                                            "appName":appName,
                                            "qps":appQps
                                        },
                                        dataType: "html",
                                        async: true,
                                        success: function (data,status) {
                                            if(status=="success" && data=='true'){
                                                bootbox.dialog({
                                                    message: "操作成功!",
                                                    buttons: {
                                                        "success": {
                                                            "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                                            "className": "btn-sm btn-success",
                                                            "callback": function() {
                                                                $("#appLimitConfigs").ajaxLoad({
                                                                    url:"/applimit/table",
                                                                    type:"post",
                                                                    data:{"projectName":projectName}
                                                                });
                                                            }
                                                        }
                                                    }
                                                });
                                            }else {
                                                bootbox.dialog({
                                                    message:"操作失败!",
                                                    buttons:{
                                                        "success":{
                                                            "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                                            "className": "btn-sm btn-success",
                                                            "callback":function(){
                                                                $("#appLimitConfigs").ajaxLoad({
                                                                    url:"/applimit/table",
                                                                    type:"post",
                                                                    data:{"projectName":projectName}
                                                                });
                                                            }
                                                        }
                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                            });

                        }
                    }
                ]
            });
        });
        $('#app-limit-table').delegate('.app-limit-update','click',function () {
            var tr = $(this).parents("tr");
            var appName = $(tr.children()[0]).html();
            var qps = $(tr.children()[1]).html();
            modalInit({
                appNameShow:false,
                appTitle:"更新应用限流配置",
                qpsPlaceHolder:qps,
                appName:appName
            });
            $('#app-limit-modal').modal('show');
            $("#app-submit").bind("click",function(){
                var appName = $("#app-name").val();
                var appQps = $("#app-qps").val();
                if(isNaN(appQps)){
                    bootbox.dialog({
                        message: "QPS输入值非法!!!",
                        buttons: {
                            "success": {
                                "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                "className": "btn-sm btn-success",
                                "callback": function() {}
                            }
                        }
                    });
                    return;
                }else{
                    $.ajax({
                        type: "post",
                        url:"applimit/update",
                        data:{
                            "projectName":projectName,
                            "appName":appName,
                            "qps":appQps
                        },
                        dataType: "html",
                        async: true,
                        success: function (data,status) {
                            if(status=="success" && data=='true'){
                                bootbox.dialog({
                                    message: "操作成功!",
                                    buttons: {
                                        "success": {
                                            "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                            "className": "btn-sm btn-success",
                                            "callback": function() {
                                                $("#appLimitConfigs").ajaxLoad({
                                                    url:"/applimit/table",
                                                    type:"post",
                                                    data:{"projectName":projectName}
                                                });
                                            }
                                        }
                                    }
                                });
                            }else {
                                bootbox.dialog({
                                    message:"操作失败!",
                                    buttons:{
                                        "success":{
                                            "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                            "className": "btn-sm btn-success",
                                            "callback":function(){
                                                $("#appLimitConfigs").ajaxLoad({
                                                    url:"/applimit/table",
                                                    type:"post",
                                                    data:{"projectName":projectName}
                                                });
                                            }
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            });
        });

        $('#app-limit-table').delegate('.app-limit-delete','click',function () {
            var tr = $(this).parents("tr");
            var appName = $(tr.children()[0]).html();
            var qps = $(tr.children()[1]).html();
            modalInit({
                appNameShow:false,
                appTitle:"删除应用限流配置",
                qpsPlaceHolder:qps,
                appName:appName,
                disableQPS:"true"
            });
            $('#app-limit-modal').modal('show');
            $("#app-submit").bind("click",function(){
                var appName = $("#app-name").val();
                var appQps = $("#app-qps").val();
                $.ajax({
                    type: "post",
                    url:"applimit/delete",
                    data:{
                        "projectName":projectName,
                        "appName":appName,
                        "qps":appQps
                    },
                    dataType: "html",
                    async: true,
                    success: function (data,status) {
                        if(status=="success" && data=='true'){
                            bootbox.dialog({
                                message: "操作成功!",
                                buttons: {
                                    "success": {
                                        "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                        "className": "btn-sm btn-success",
                                        "callback": function() {
                                            $("#appLimitConfigs").ajaxLoad({
                                                url:"/applimit/table",
                                                type:"post",
                                                data:{"projectName":projectName}
                                            });
                                        }
                                    }
                                }
                            });
                        }else {
                            bootbox.dialog({
                                message:"操作失败!",
                                buttons:{
                                    "success":{
                                        "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                        "className": "btn-sm btn-success",
                                        "callback":function(){
                                            $("#appLimitConfigs").ajaxLoad({
                                                url:"/applimit/table",
                                                type:"post",
                                                data:{"projectName":projectName}
                                            });
                                        }
                                    }
                                }
                            });
                        }
                    }
                });
            });
        });
    });
</script>