#set($layout="layoutblank.vm")
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8" />
    <title>Pigeon</title>

    <meta name="description" content="pigeon config"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/datepicker.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace.min.css" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-rtl.min.css" />


    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-ie.min.css" />
    <![endif]-->




    <!-- inline styles related to this page -->
    <link href="${rc.contextPath}/resources/style/bootstrap-switch.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/resources/assets/css/datepicker.css" rel="stylesheet">
    <link href="${rc.contextPath}/resources/assets/css/bootstrap-timepicker.css " rel="stylesheet">
    <link href="${rc.contextPath}/resources/assets/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <style type="text/css">

        /*.vertical-center{*/
            /*float: none !important;*/
        /*}*/

        /*.ui-sortable-handle:hover*/
        /*{*/
            /*background-color:#F8FAFF;*/
        /*}*/


        /*ACE DataTable的相关属性 设计主要是Table头参见RouterConfig页面*/
        .aceTableRow{
            border-bottom: 1px solid #e0e0e0;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #EFF3F8;
        }
        .leftPosition{
            float:right;
            display: inline;
        }
        .myRow{
            width: 100%;
            overflow:auto;
        }


        /*覆盖Item div相关的默认属性*/
        .itemdiv>.body{
            margin-left: 0px;
        }
        .itemdiv{
            min-height:0;
        }
        .itemdiv.memberdiv{
            width: auto;
        }



        .vertical-center{
            float: none !important;
        }
    </style>

    <!-- ace settings handler -->
    <script src="${rc.contextPath}/resources/assets/js/ace-extra.min.js"></script>
    <script src="${rc.contextPath}/resources/js/echarts.common.min.js"></script>
</head>
<body class="no-skin">

<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default">
    #parse("common/navbar.vm")
</div>
<div class="main-container" id="main-container">

    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar   responsive">
        #parse("common/sidebar.vm")
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <div class="col-xs-3">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">主页</a>
                    </li>

                    <li class="active">
                        <a href="#">流量监控</a>
                    </li>
                </ul>
            </div>

            <div class="input-group col-xs-4 pull-right">
                <input id="searchInput" placeholder="应用名搜索" type="text" class="form-control vertical-center" name="message"
                       data-provide="typeahead" oldautocomplete="off" autocomplete="off" />

                        <span class="input-group-btn">
                            <button  id = "search" class="btn btn-sm btn-info no-radius" type="button">
                                <i class="ace-icon fa fa-search"></i>
                                查询
                            </button>
                        </span>
            </div>
        </div>
        <div class="page-content">
            <div class="modal fade" id="infoPage" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" style="width:800px;">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: none;">
                            <ul class="nav nav-tabs padding-18 tab-size-bigger">
                                <li class="active">
                                    <a data-toggle="tab" href="#faq-tab-1">
                                        流量分布统计图
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#faq-tab-2">
                                        流量数据
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-body" style="height: 600px">
                        </div>
                        <div class="modal-footer">
                            <button id="feedback-submit" data-bb-handler="success" type="button" class="btn btn-sm btn-success" data-dismiss="modal"><i class="ace-icon fa fa-check"></i>Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-area">
                <div class="page-header">
                    <h1>
                        流量监控
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Monitor Service Data Flow
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-8">
                            <h3 class="blue" style="margin-top: 10px;margin-bottom: 10px;height: 34px;line-height: 34px";>应用名:
                                <span id = "projecyName">
                                XXXXXXXXXXXXXXXXXXXXXXXXXX
                                </span>
                            </h3>
                        </div>
                        <div class="input-group col-xs-4 pull-right" style="margin-top:10px;margin-bottom: 10px;">
                            <input type='text' class="form-control vertical-center" id='dateTimePicker'
                                   autocomplete="off" oldautocomplete="off"/>
                             <span class="input-group-btn">
                                <button  id = "search" class="btn btn-sm btn-info no-radius" type="button">
                                    <i class="ace-icon fa fa-search"></i>
                                    查询
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <ul id = "mainTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#serverFlow" data-toggle="tab">
                                    服务端流量分布
                                </a>
                            </li>
                            <li>
                                <a href="#clientFlow" data-toggle="tab">
                                    客户端流量分布
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="myTabDrop1" class="dropdown-toggle"
                                   data-toggle="dropdown">Java
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                    <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                                    <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id = "mainContent" class="tab-content">
                            <div class="tab-pane fade in active" id="serverFlow">
                            </div>
                            <div class="tab-pane fade" id="clientFlow">
                                <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                                    TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                            </div>
                            <div class="tab-pane fade" id="jmeter">
                                <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                            </div>
                            <div class="tab-pane fade" id="ejb">
                                <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        #parse("common/sub-footer.vm")
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>






<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='${rc.contextPath}/resources/assets/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='${rc.contextPath}/resources/assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement)
        document.write("<script src='${rc.contextPath}/resources/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="${rc.contextPath}/resources/assets/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<!-- page specific plugin scripts -->

<script src="${rc.contextPath}/resources/js/bootstrap-switch.min.js"></script>
<script src="${rc.contextPath}/resources/js/bootstrap-typeahead.js"></script>
<script src="${rc.contextPath}/resources/assets/js/bootbox.min.js"></script>
<script src="${rc.contextPath}/resources/js/dataTable.min.js"></script>
<script src="${rc.contextPath}/resources/js/Pigeon.dataTables.bootstrap.js"></script>
<script src="${rc.contextPath}/resources/js/my-ajax-wrapper.js"></script>
<script src="${rc.contextPath}/resources/assets/js/spin.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/date-time/moment.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script>
    jQuery(function($) {

        /*初始化DateTimePicker*/
        $('#dateTimePicker').datetimepicker();
        /*主Tab栅转*/
        $("#serverFlow").ajaxLoad({
            url:'/flowMonitor/server',
            data:{'projectName':"$projectName",'dateTime':"$dateTime"}
        });
        $('#mainTab li:eq(1) a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            alert('ajax load');
        })

//        $( "#datepicker" ).datepicker({
//            showOtherMonths: true,
//            selectOtherMonths: false,
//            //isRTL:true,
//
//
//            /*
//            changeMonth: true,
//            changeYear: true,
//
//            showButtonPanel: true,
//            beforeShow: function() {
//                //change button colors
//                var datepicker = $(this).datepicker( "widget" );
//                setTimeout(function(){
//                    var buttons = datepicker.find('.ui-datepicker-buttonpane')
//                    .find('button');
//                    buttons.eq(0).addClass('btn btn-xs');
//                    buttons.eq(1).addClass('btn btn-xs btn-success');
//                    buttons.wrapInner('<span class="bigger-110" />');
//                }, 0);
//            }
//    */
//        });


##        $('.machine').each(function () {
##            var projectName = $(this).attr("data-projectName");
##            var date = $(this).attr('data-date');
##            var ip = $(this).attr('data-ip');
##            $(this).bind('click',function () {
##                $('#infoPage').modal('show');
##                $('.modal-body').ajaxLoad({
##                    url:'/flowMonitor/HostDetail',
##                    data:{'projectName':projectName,'ip':ip,'time':date}
##                });
##            });
##        })
##        var mydate = $('#datepicker')[0];
##        $(mydate).datepicker({
##            showOtherMonths: true,
##            selectOtherMonths: false,
##        });
##        var mytime = $('#timepicker')[0];
##        $(mytime).timepicker({
##
##        });
##//        if(mytime.type !== 'time') {//if browser doesn't support "time" input
##//            $(mytime).timepicker({
##//                //options
##//            })
##//        }
##//        if(mydate.type !== 'date') {//if browser doesn't support "date" input
##//            alert('Using bootstrap date picker')
##//            $(mydate).datepicker({
##//                //options
##//            })
##//        }
##
##
##        $('#methodInvokeTable').dataTable({
##            bAutoWidth: false,
##            aoColumns: [
##                null,
##                null,
##                null,
##                null,
##                null,
##                null,
##                null,
##                null,
##                null,
##                null,
##                null
##            ],
##            "aaSorting": [],
##            dom: "<'myRow'<'col-xs-8'><'col-xs-4'B>>" +
##            "<'row aceTableRow'<'col-xs-3'l><'col-xs-9'fr>>" +
##            "t" +
##            "<'row'<'col-xs-3'i><'col-xs-9'p>>"
##        });
##        $('.methodName').bind('click',function () {
##            var tableObject = $(this).parents('table');
##            var projectName = tableObject.attr('data-projectName');
##            var ip = tableObject.attr('data-ip');
##            var time  = tableObject.attr('data-time');
##            var nameId = $(this).attr('data-name-id');
##            $('#infoPage').modal('show');
##            $('.modal-body').ajaxLoad({
##                url:'/flowMonitor/methodDetail',
##                data:{'projectName':projectName,'ip':ip,'time':time,'nameId':nameId}
##            });
##        })
##
##
##
##
##        // 基于准备好的dom，初始化echarts实例
##//        var width  = $('#main').width();
##//        var height = width/2;
##//        $('#main').height(height);
##//        var myChart = echarts.init(document.getElementById('main'));
##
##        // 指定图表的配置项和数据
##        var option = {
##            backgroundColor: '#2c343c',
##            legend: {
##                orient: 'vertical',
##                left: 'left',
##                data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
##            },
##            title: {
##                text: '方法调用分布',
##                left: 'center',
##                top: 20,
##                textStyle: {
##                    color: '#ccc'
##                }
##            },
##
##            tooltip : {
##                trigger: 'item',
##                formatter: "{a} <br/>{b} : {c} ({d}%)"
##            },
##
##            visualMap: {
##                show: false,
##                min: 80,
##                max: 600,
##                inRange: {
##                    colorLightness: [0, 1]
##                }
##            },
##            series : [
##                {
##                    name:'访问来源',
##                    type:'pie',
##                    radius : '55%',
##                    center: ['50%', '50%'],
##                    data:[
##                        {value:335, name:'直接访问'},
##                        {value:310, name:'邮件营销'},
##                        {value:274, name:'联盟广告'},
##                        {value:235, name:'视频广告'},
##                        {value:400, name:'搜索引擎'}
##                    ].sort(function (a, b) { return a.value - b.value}),
##                    roseType: 'angle',
##                    label: {
##                        normal: {
##                            textStyle: {
##                                color: 'rgba(255, 255, 255, 0.3)'
##                            }
##                        }
##                    },
##                    labelLine: {
##                        normal: {
##                            lineStyle: {
##                                color: 'rgba(255, 255, 255, 0.3)'
##                            },
##                            smooth: 0.2,
##                            length: 10,
##                            length2: 20
##                        }
##                    },
##                    itemStyle: {
##                        normal: {
##                            color: '#c23531',
##                            shadowBlur: 200,
##                            shadowColor: 'rgba(0, 0, 0, 0.5)'
##                        }
##                    }
##                }
##            ]
##        };
##
##        // 使用刚指定的配置项和数据显示图表。
##//        myChart.setOption(option);
##        var width = $("#accessPatternGraph").width();
##        var height = width/2;
##        $("#accessPatternGraph").height(height);
##        var accessPatternGraph = echarts.init(document.getElementById('accessPatternGraph'));
##        var patternOption =  {
##            tooltip: {
##                trigger: 'item',
##                formatter: "{a} <br/>{b}: {c} ({d}%)"
##            },
##            legend: {
##                orient: 'vertical',
##                x: 'left',
##                data:${summaryGraph.getElemntName()}
##            },
##            series: [
##                {
##                    name:'访问来源',
##                    type:'pie',
##                    radius: [0, '30%'],
##                    data:${summaryGraph.getServiceMap()}
##                },
##                {
##                    name:'访问来源',
##                    type:'pie',
##                    radius: ['40%', '55%'],
##
##                    data:${summaryGraph.getMethodMap()}
##                }
##            ]
##        };
##        accessPatternGraph.setOption(patternOption);
    });
</script>
<!-- ace scripts -->
<script src="${rc.contextPath}/resources/assets/js/ace-elements.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/ace.min.js"></script>

</body>
</html>