#set($layout="layoutblank.vm")

    <link href="${rc.contextPath}/resources/style/bootstrap-switch.min.css" rel="stylesheet">
    <style type="text/css">

        .vertical-center{
            float: none !important;
        }

    </style>
        <div class="page-content">
            <div class="page-content-area">
                <h4 class="blue">多region环境路由支持</h4>
                <p>自15年10月新美大合并以来，新公司的业务整合迅速。</p>
                <p>为更好的支持北京侧和上海侧的业务互通需求，架构组件对异地机房，多网络的支持与改进也在持续开发与完善中。</p>
                <p>pigeon的2.7.8-SNAPSHOT版本目前可以提供多region路由支持的测试版本。</p>
                <h4 class="blue">配置简介</h4>
                <p>多region的开关控制由pigeon的配置项pigeon.regions.route.enable来控制，当前线上默认开关为true。此配置项支持动态开关。</p>
                <p>测试阶段，线下全局开关默认为关闭，可在应用级别开启自动切换region的开关。</p>
                <p>如`app.name=xxx`的应用，可以配置xxx.pigeon.regions.route.enable为true。</p>
                <h4 class="blue">Web端控制</h4>
                <p>Pigeon Web可以查看多Region路由状态.在<span class="red">左上角搜索</span>对应应用,进入应用管理界面.</p>
                <p>左上角的开关按钮,可以使得应用的所有者动态调整多Region路由是否开启.无需手动配置.</p>
                <p class="red">后续Pigeon Web将提供更多Region路由的管理功能.</p>
            </div>
        </div>
<!-- basic scripts -->

<!--[if !IE]> -->
<script src="${rc.contextPath}/resources/js/bootstrap-switch.min.js"></script>

<script src="${rc.contextPath}/resources/assets/js/bootbox.min.js"></script>
<script>
            $.ajax({
                type:"post",
                url:"/region/projectRegionRouter",
                data:{},
                dataType:"html",
                async:true,
                success:function(data){
                    $('.page-content-area').html("");
                    $('.page-content-area').append(data);
                }
            });
</script>
