#set($layout="layoutblank.vm")
<div class="modal fade" id="modal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <h4 class="modal-title blue" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 control-label blue" for="service-name">服务名</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" id="service-name" class="col-xs-12 col-sm-12" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label blue" for="method-name">方法名</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" id="method-name" class="col-xs-12 col-sm-12" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label blue" for="select-type">返回方式</label>
                    <div class="col-sm-9">
                        <select id="select-type" data-placeholder="选取降级返回方式" class="chosen-select">
                            <option value></option>
                            <option value="0">默认方式</option>
                            <option value="1">指定返回值</option>
                            <option value="2">抛出异常</option>
                            <option value="3">Mock</option>
                        </select>
                    </div>
                </div>
                <div id ="form-1" class="form-group row">
                    <label class="col-sm-2 control-label blue" for="default-value">默认返回值</label>
                    <div class="col-sm-9">
                        <input type="text" disabled placeholder="null" id="default-value" class="col-xs-12 col-sm-12" />
                    </div>
                </div>
                <div id = "form-2">
                    <div class="form-group row">
                        <label class="col-sm-2 control-label blue" for="class-name">returnClass</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="" id="class-name" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label blue" for="return-content">Content</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="" id="return-content" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                </div>
                <div id ="form-3" class="form-group row">
                    <label class="col-sm-2 control-label blue" for="exception-value">异常信息</label>
                    <div class="col-sm-9">
                        <input type="text" disabled placeholder='{"throwException":"true"}' id="exception-value" class="col-xs-12 col-sm-12" />
                    </div>
                </div>
                <div id ="form-4" class="form-group row">
                    <label class="col-sm-2 control-label blue" for="mock-name">Mock impl name</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder='{"useMockClass":"true"}' id="mock-name" class="col-xs-12 col-sm-12" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="submit" data-bb-handler="success" type="button" class="btn btn-sm btn-success" data-dismiss="modal"><i class="ace-icon fa fa-check"></i>Confirm</button>
            </div>
        </div>
    </div>
</div>




<table id="editable-configs"  class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>服务名</th>
        <th>方法名</th>
        <th>方式</th>
        <th>返回值</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach ($config in $configs)
        <tr>
            <td>$config.getServiceName()</td>
            <td>$config.getMethodName()</td>
            <td data-order="$config.getReturnPattern()" data-search="$config.getReturnPattern()">
                #if($config.getReturnPattern()==0)
                    <span class="grey">默认方式</span>
                #else
                    #if($config.getReturnPattern()==1)
                        <span class="blue">指定返回值</span>
                    #else
                        #if($config.getReturnPattern()==2)
                            <span class="red">抛出异常</span>
                        #else
                            <span class="green">Mock</span>
                        #end
                    #end
                #end
            </td>
            <td data-order="$config.getReturnValue()" data-search="$config.getReturnValue()">
                #if($config.getReturnPattern()==0)
                    <span class="grey">null</span>
                #else
                    #if($config.getReturnPattern()==1)
                        <span class="blue">$config.getReturnValue()</span>
                    #else
                        #if($config.getReturnPattern()==2)
                            <span class="red">{"throwException":"true"}</span>
                        #else
                            <span class="green">{"useMockClass":"true"}</span>
                        #end
                    #end
                #end
            </td>
            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a  class="primary config-update">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                    </a>
                    <a class="red config-delete">
                        <i class="ace-icon fa fa-times bigger-130"></i>
                    </a>
                </div>
            </td>
        </tr>
        #end
    </tbody>
</table>
<script>
    function updateConfig(ajaxContent){
        var projectName = ajaxContent.data.projectName;
        $.ajax({
            type: "post",
            url:ajaxContent.url,
            data:ajaxContent.data,
            dataType: "html",
            async: true,
            success: function (data,status) {
                if(status=="success" && data=='true'){
                    bootbox.dialog({
                        message: "操作成功!",
                        buttons: {
                            "success": {
                                "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                "className": "btn-sm btn-success",
                                "callback": function() {
                                    $("#configs").ajaxLoad({
                                        url:"/degrade/configs",
                                        type:"post",
                                        data:{"projectName":projectName}
                                    });
                                }
                            }
                        }
                    });
                }else {
                    bootbox.dialog({
                        message:"操作失败!",
                        buttons:{
                            "success":{
                                "label": "<i class='ace-icon fa fa-check'></i> Confirm",
                                "className": "btn-sm btn-success",
                                "callback":function(){
                                    $("#configs").ajaxLoad({
                                        url:"/degrade/configs",
                                        type:"post",
                                        data:{"projectName":projectName}
                                    });
                                }
                            }
                        }
                    });
                }
            }
        });
    }
    jQuery(function($) {
        function modalInit(options){
            var settings = $.extend(
                    {},
                    {
                        serviceName:"",
                        methodName:"",
                        returnPattern:"",
                        returnValue:"",
                        title:"",
                        disableServiceName:false,
                        disableMethodName:false,
                        disableSelector:false,
                        disableClassNameInput:false,
                        disableContentInput:false,
                        disableMockInput:false
                    },
                    options);
            $("#modal-title").html(settings.title);
            $("#service-name").attr('placeholder',settings.serviceName);
            $("#method-name").attr('placeholder',settings.methodName);
            if(settings.disableServiceName){
                $('#service-name').attr("disabled", "disabled");
            }else $('#service-name').removeAttr('disabled');
            if(settings.disableMethodName)
                $("#method-name").attr('disabled',"disabled");
            else $("#method-name").removeAttr('disabled');
            if(settings.disableSelector)
                $("#select-type").attr("disabled",'disabled');
            else $("#select-type").removeAttr("disabled");
            if(settings.disableClassNameInput)
                $("#class-name").attr("disabled",'disabled');
            else $("#class-name").removeAttr("disabled");
            if(settings.disableContentInput)
                $("#return-content").attr("disabled","disabled");
            else $("#return-content").removeAttr("disabled");
            if(settings.disableMockInput)
                $("#mock-name").attr("disabled","disabled");
            else $("#mock-name").removeAttr("disabled");
//            var data = {"projectName":projectName,"serviceName":serviceName,"methodName":methodName};
//            $("#select-type").val(returnPattern);
//            return data;
        }
        var hash = window.location.hash;
        var projectName = hash.split("/")[2];
        $(document).ready(function () {
            $('#editable-configs').DataTable({
                bAutoWidth: false,
                aoColumns: [
                    null,
                    null,
                    null,
                    null,
                    null
                ],
                "aaSorting": [],
                dom: "<'myRow'<'col-xs-8'><'col-xs-4'B>>" +
                "<'row aceTableRow'<'col-xs-3'l><'col-xs-9'fr>>" +
                "t" +
                "<'row'<'col-xs-3'i><'col-xs-9'p>>",
                buttons: [
                    {
                        text: '<i class="ace-icon fa fa-pencil-square-o bigger-150 danger"></i>',
                        action: function (e, dt, node, config) {
                            modalInit({
                                title:"新建服务降级配置",
                                returnPattern:0,
                                disableMockInput:true
                            });
                            var selector = $("#select-type");
                            $('#modal').modal('show');
                            selector.selector_input({
                                submitObj: $("#submit"),
                                selectorObj: selector,
                                initSelectorIndex: 0,
                                inputObjs: [$("#form-1"), $("#form-2"), $("#form-3"), $("#form-4")],
                                callbacks: [
                                    function () {
                                        var data = {
                                            "projectName":projectName,
                                            "serviceName":$("#service-name").val(),
                                            "methodName":$("#method-name").val()
                                        };
                                        var rawValue="null";
                                        data.value=rawValue;
                                        ajaxContent={'url':'/config/degrade/add','data':data};
                                        updateConfig(ajaxContent);
                                    },
                                    function () {
                                        var data = {
                                            "projectName":projectName,
                                            "serviceName":$("#service-name").val(),
                                            "methodName":$("#method-name").val()
                                        };
                                        var className = $("#class-name").val();
                                        var content = $("#return-content").val();
                                        var rawValue = '{"returnClass":"'+className+'","content":"'+content+'"}';
                                        data.value=rawValue;
                                        var ajaxContent={'url':'/config/degrade/add','data':data};
                                        updateConfig(ajaxContent);
                                    },
                                    function () {
                                        var data = {
                                            "projectName":projectName,
                                            "serviceName":$("#service-name").val(),
                                            "methodName":$("#method-name").val()
                                        };
                                        var rawValue='{"throwException":"true"}';
                                        data.value=rawValue;
                                        var ajaxContent={'url':'/config/degrade/add','data':data};
                                        updateConfig(ajaxContent);
                                    },
                                    function () {
                                        var data = {
                                            "projectName":projectName,
                                            "serviceName":$("#service-name").val(),
                                            "methodName":$("#method-name").val()
                                        };
                                        var rawValue='{"useMockClass":"true"}';
                                        data.value=rawValue;
                                        var ajaxContent={'url':'/config/degrade/add','data':data};
                                        updateConfig(ajaxContent);
                                    }
                                ]
                            });
                        }
                    }
                ]
            });
        });
        $("#select-type").chosen({
            allow_single_deselect: false
        });
        $("#select-type").next().width("120px");
        $('table').delegate('.config-update','click',function () {
            var tr = $(this).parents("tr");
            var serviceName = $(tr.children()[0]).html();
            var methodName = $(tr.children()[1]).html();
            var returnPattern = $(tr.children()[2]).attr('data-order');
            var returnValue = $(tr.children()[3]).attr('data-order');
            modalInit({
                serviceName:serviceName,
                methodName:methodName,
                returnPattern:returnPattern,
                returnValue:returnValue,
                title:"更新服务降级配置",
                disableServiceName:true,
                disableMethodName:true,
                disableSelector:false,
                disableClassNameInput:false,
                disableContentInput:false,
                disableMockInput:true
            });
            var data = {"projectName":projectName,"serviceName":serviceName,"methodName":methodName};
            var selector = $("#select-type");
            $('#modal').modal('show');
            selector.selector_input({
                submitObj: $("#submit"),
                selectorObj: selector,
                initSelectorIndex: returnPattern,
                inputObjs: [$("#form-1"), $("#form-2"), $("#form-3"), $("#form-4")],
                callbacks: [
                    function () {
                        var rawValue="null";
                        data.value=rawValue;
                        ajaxContent={'url':'/config/degrade/update','data':data};
                        updateConfig(ajaxContent);
                    },
                    function () {
                        var className = $("#class-name").val();
                        var content = $("#return-content").val();
                        var rawValue = '{"returnClass":"'+className+'","content":"'+content+'"}';
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/update','data':data};
                        updateConfig(ajaxContent);
                    },
                    function () {
                        var rawValue='{"throwException":"true"}';
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/update','data':data};
                        updateConfig(ajaxContent);
                    },
                    function () {
                        var rawValue='{"useMockClass":"true"}';
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/update','data':data};
                        updateConfig(ajaxContent);
                    }
                ]
            });
        });
        $('table').delegate('.config-delete','click',function () {
            var tr = $(this).parents("tr");
            var serviceName = $(tr.children()[0]).html();
            var methodName = $(tr.children()[1]).html();
            var returnPattern = $(tr.children()[2]).attr('data-order');
            var returnValue = $(tr.children()[3]).attr('data-order');
            modalInit({
                serviceName:serviceName,
                methodName:methodName,
                returnPattern:returnPattern,
                returnValue:returnValue,
                title:"删除服务降级配置",
                disableServiceName:true,
                disableMethodName:true,
                disableSelector:true,
                disableClassNameInput:true,
                disableContentInput:true,
                disableMockInput:true
            });
            var data = {"projectName":projectName,"serviceName":serviceName,"methodName":methodName};
            var selector = $("#select-type");
            $('#modal').modal('show');
            selector.selector_input({
                submitObj: $("#submit"),
                selectorObj: selector,
                initSelectorIndex: returnPattern,
                inputObjs: [$("#form-1"), $("#form-2"), $("#form-3"), $("#form-4")],
                callbacks: [
//                        in fact data doesn't need at all
                    function () {
                        var rawValue="null";
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/delete','data':data};
                        updateConfig(ajaxContent);
                    },
                    function () {
                        var className = $("#class-name").val();
                        var content = $("#return-content").val();
                        var rawValue = '{"returnClass":"'+className+'","content":"'+content+'"}';
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/delete','data':data};
                        updateConfig(ajaxContent);
                    },
                    function () {
                        var rawValue='{"throwException":"true"}';
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/delete','data':data};
                        updateConfig(ajaxContent);
                    },
                    function () {
                        var rawValue='{"useMockClass":"true"}';
                        data.value=rawValue;
                        var ajaxContent={'url':'/config/degrade/delete','data':data};
                        updateConfig(ajaxContent);
                    }
                ]
            });
        });
    });
</script>