#set($layout="layoutblank.vm")
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8" />
    <title>Pigeon</title>
    <meta name="description" content="Pigeon message"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/font-awesome.min.css" />
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/datepicker.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-fonts.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace.min.css" id="main-ace-style"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->
    <style>
        .affix-top
        {
            width:300px;
        }
        .affix
        {
            width:300px;
        }
        .affix-bottom
        {
            width: 300px;
        }
    </style>
    <!-- ace settings handler -->
    <script src="${rc.contextPath}/resources/assets/js/ace-extra.min.js"></script>

</head>
<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default    navbar-collapse       h-navbar  navbar-fixed-top">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Pigeon
                </small>
            </a>

            <!-- /section:basics/navbar.layout.brand -->

            <!-- #section:basics/navbar.toggle -->
            <button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu">
                <span class="sr-only">Toggle user menu</span>

                <img src="../assets/avatars/user.jpg" alt="Jason's Photo" />
            </button>

            <button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/navbar.toggle -->
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">
            <ul class="nav ace-nav">
                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class="ace-icon glyphicon glyphicon-user smaller-50"></i>
                        #if($userName)$userName#end
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="/account/profile">
                                <i class="ace-icon fa fa-file smaller-50"></i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="/ssologout">
                                <i class="ace-icon glyphicon glyphicon-off smaller-50"></i>
                                注销
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
        <nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">
            <!-- #section:basics/navbar.nav -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        应用树
                    </a>
                </li>
                <li>
                    <a href="#">
                        文档中心
                    </a>
                </li>
                <li>
                    <a href="#">
                        日志中心
                    </a>
                </li>
                <li>
                    <a href="">
                        使用帮助
                    </a>
                </li>
                <li>
                    <a href="">
                        意见反馈
                    </a>
                </li>
            </ul>
        </nav>
    </div><!-- /.navbar-container -->
</div>



















<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container" style="margin-top: 20px">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <div class="main-content">
        <div class="page-content">
            <div class="page-content-area">
                <div class="row">
                    <div class="col-xs-3">
                        <div id="sidebar hidden-xs hidden-sm" data-spy="affix" data-offset-top="0">
                            <div id="tree1" class="tree tree-selectable"></div>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div id="sidebar" class="sidebar      h-sidebar                navbar-collapse collapse">
                            <script type="text/javascript">
                                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                            </script>
                            <ul class="nav nav-list" style="top: 0px;">
                                <li class="active open hover">
                                    <a>
                                        <i class="menu-icon fa fa-tachometer"></i>
                                        <span class="menu-text">应用概要</span>
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                                <li class="">

                                </li>
                                <li class="hover">
                                    <a>
                                        <i class="menu-icon fa fa-desktop"></i>
                                        <span class="menu-text">Region路由</span>
                                    </a>
                                </li>
                                <li class="hover">
                                    <a>
                                        <i class="menu-icon fa fa-pencil-square-o"></i>
                                        <span class="menu-text">服务降级</span>
                                    </a>
                                </li>
                            </ul><!-- /.nav-list -->

                            <!-- #section:basics/sidebar.layout.minimize -->
                            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                            </div>

                            <!-- /section:basics/sidebar.layout.minimize -->
                            <script type="text/javascript">
                                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                            </script>
                        </div>
                        <div id="mainContent">
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
<!-- basic scripts -->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='${rc.contextPath}/resources/assets/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='${rc.contextPath}/resources/assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement)
        document.write("<script src='${rc.contextPath}/resources/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="${rc.contextPath}/resources/assets/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<!-- page specific plugin scripts -->
<script src="${rc.contextPath}/resources/assets/js/fuelux/fuelux.tree.min.js"></script>
<script src="${rc.contextPath}/resources/js/service-tree.js"></script>
<script src="${rc.contextPath}/resources/js/my-ajax-wrapper.js"></script>
<script src="${rc.contextPath}/resources/assets/js/spin.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/jquery.dataTables.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="${rc.contextPath}/resources/assets/js/jquery-ui.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/jquery-ui.custom.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/jquery.gritter.min.js"></script>
<script src="${rc.contextPath}/resources/js/my-array-ext.js"></script>
<script>
    function dataFormat(root) {
        var object={};
        var rootObject = root;
        var childrenCount = rootObject["childrenCount"];
        if(childrenCount==0){
            var name = rootObject["name"];
            return {name:name,type:"item"};
        }else{
            var name = rootObject["name"];
            object["name"]=name;
            object["type"] = "folder";
            var children = {};
            $.each(rootObject["children"], function(index, content){
                var childrenObj = dataFormat(content);
                var childrenObjName = content["name"];
                children[childrenObjName] = childrenObj;
            });
            object["additionalParameters"] = {"children":children};
        }
        return object;
    }
    jQuery(function($) {
        var treeData = dataFormat($data);
        var treeDataSource = new DataSourceTree({data: treeData["additionalParameters"]["children"]});
        $('#tree1').ace_tree({
            dataSource: treeDataSource ,
            multiSelect:false,
            loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
            'open-icon' : 'ace-icon tree-minus',
            'close-icon' : 'ace-icon tree-plus',
            'selectable' : true,
            'selected-icon' : 'ace-icon fa fa-check',
            'unselected-icon' : 'ace-icon fa fa-times'
        });
        $("#tree1").height($(window).height()-20-45-8);
        $(window).resize(function () {
            $('#tree1').height($(window).height()-20-45-8);
        });




        $("#mainContent").ajaxLoad({
            url:'/transit/services/pigeon-governor-server',
            type:'get',
            data:{
            }
        });
    });
</script>
<!-- ace scripts -->
<script src="${rc.contextPath}/resources/assets/js/ace-elements.min.js"></script>
<script src="${rc.contextPath}/resources/assets/js/ace.min.js"></script>

</body>
</html>
