#set($layout="layoutblank.vm")
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row"><!-- find project info from cmdb -->
            <div class="col-xs-12">
                <a class="btn btn-danger" href="http://web.cmdb.dp/?project=${projectName}" target="_blank">
                    点击查询应用所属信息
                </a>
            </div>
        </div>

        <div class="row"><!-- service node datatable begins -->
            <div class="col-xs-12">
                <div class="table-header">
                    加载服务配置
                </div>

                <!-- <div class="table-responsive"> -->

                <!-- <div class="dataTables_borderWrap"> -->
                <div>
                    <table id="servicelist4project" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Group</th>
                            <th>
                                <i class="ace-icon fa fa-desktop bigger-110 hidden-480"></i>
                                hosts
                            </th>
                            <th class="hidden-sm hidden-xs action-buttons">
                                #if(!$isProjectOwner)
                                    <a class="red" href="javascript:void(0)" onclick="adminApplyFunc(event)">
                                        <i class="ace-icon fa fa-user red bigger-130"></i>
                                    </a>
                                #else
                                    <a class="red" href="javascript:void(0)" onclick="addService(this)">
                                        <i class="ace-icon fa fa-plus bigger-130"></i>
                                    </a>
                                #end
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                            #foreach($service in $services)

                            <tr id="service_$!{velocityCount}">
                                <td>
                                    <a href="#">$!service.name</a>
                                </td>
                                <td class="hidden-480">
                                    <span class="label label-sm label-success">$!service.group</span>
                                </td>
                                <td class="hidden-480" style="word-break: break-all">$!service.hosts</td>

                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        #if($isProjectOwner)
                                            <a class="green" href="javascript:void(0)" onclick="editService(this)">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                        #*<a class="red" href="#">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>*#
                                        #else
                                            <a class="red" href="javascript:void(0)" onclick="adminApplyFunc(event)">
                                                <i class="ace-icon fa fa-user red bigger-130"></i>
                                            </a>
                                        #end
                                    </div>

                                </td>
                            </tr>

                            #end

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.service node datatable ends -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->


<div id="add_hosts_info" class="modal fade" tabindex="-1"
     aria-hidden="true" data-backdrop="static" data-keyboard="false"
     data-hosts="" data-serviceid="" data-servicename="" data-group="" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">添加服务信息</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-12 host_line">
                        <!-- 这里面的动态画 -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" onclick="addsinglerow(this)">
                    <i class="ace-icon fa fa-circle-o"></i>
                    添加
                </button>

                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button id="submit_add_hosts" class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-check"></i>
                    提交
                </button>
            </div>

        </div>
    </div>
</div>

<div id="edit_hosts_info" class="modal fade" tabindex="-1"
     aria-hidden="true" data-backdrop="static" data-keyboard="false"
     data-hosts="" data-serviceid="" data-servicename="" data-group="" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">修改host信息</h4>
                <small id="service_name">serviceName</small>
                <br>
                <small id="group">group</small>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-12 host_line">
                        <!-- 这里面的动态画 -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" onclick="addsinglerow(this)">
                    <i class="ace-icon fa fa-circle-o"></i>
                    添加
                </button>

                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button id="submit_edit_hosts" class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-check"></i>
                    提交
                </button>
            </div>

        </div>
    </div>
</div>

<div id="dialog-message" class="hide">
    <p>
        请点击<a href="http://crab.dp/cmdb/app_manage?project=${projectName}" target="_blank">此处</a>添加管理员邮箱到项目邮件组，然后点击按钮即可添加
    </p>

    <div class="hr hr-12 hr-double"></div>

    <p>
        <b class="red">项目邮件组添加完成后,点击OK即可.</b>
    </p>
</div><!-- #dialog-message -->
<script>
    // 全局变量区域
    var dataTable;

    // js预加载
    $(function(){
        $('li[id="projects_index"]').addClass("active open");
        //$('li[id="project_info"]').addClass("active");
        $('[data-rel=tooltip]').tooltip();

        dataTable =
                $('#servicelist4project')
                        .DataTable( {
                            bAutoWidth: false,
                            "aoColumns": [
                                null, null,null,
                                { "bSortable": false }
                            ],
                            "aaSorting": [],
                        } );

    });

    // ******************************
    // 编辑服务地址相关方法 begins
    function addService(dom) {// 点击添加服务信息

        //填充服务名和组名
        var htmlData = '';
        htmlData += '<div class="form-group col-xs-9">' +
                '<input class="input-large" style="width: 100%" type="text" placeholder="service name" />' +
                '</div>' +
                '<div class="form-group col-xs-3">' +
                '<input class="input-large" type="text" placeholder="group name" />' +
                '</div>';

        $('#add_hosts_info .host_line').html(htmlData);
        $('#add_hosts_info').modal('show');
    }

    function editService(dom) {// 点击编辑 host 信息
        var onEditServiceTr = $(dom).closest('tr');
        var serviceNameDom = dataTable.cell(onEditServiceTr.find('td')[0]).data();
        var groupDom = dataTable.cell(onEditServiceTr.find('td')[1]).data();
        var hosts = dataTable.cell(onEditServiceTr.find('td')[2]).data();
        var serviceName = $(serviceNameDom).html();
        var group = $(groupDom).html();

        //保存下当前行的值
        $('#edit_hosts_info').attr("data-serviceid", onEditServiceTr.attr('id'));
        $('#edit_hosts_info').attr("data-hosts", hosts);
        $('#edit_hosts_info').attr("data-servicename", serviceName);
        $('#edit_hosts_info').attr("data-group", group);
        $('#edit_hosts_info #service_name').html(serviceName);
        $('#edit_hosts_info #group').html('分组：' + groupDom);

        var hostArr = hosts.split(",");
        var host_line = '';

        for (var i = 0; i < hostArr.length; ++i) {
            host_line += '<div class="form-group col-xs-12">'
                    + '<input class="input-large" type="text" value="'
                    + hostArr[i]
                    + '" />'
                    + '&nbsp;&nbsp;'
                    + '<img src="${rc.contextPath}/resources/img/del.png" onclick="delsinglerow(this)">'
                    + '</div>';
        }

        $('#edit_hosts_info .host_line').html(host_line);
        $('#edit_hosts_info').modal('show');
    }

    $('#submit_add_hosts').on('click',function(e){
        var inputArr = $('#add_hosts_info input');
        if (inputArr.length < 3) {
            $.gritter.add({
                title: "至少添加一台服务器!",
                text: "请确认后再次提交!",
                class_name: 'gritter-error gritter-center gritter-light'
            });

            return false;
        }

        var serviceName = $.trim(inputArr[0].value);
        if(serviceName == "") {
            $.gritter.add({
                title: "服务名不允许为空!",
                text: "请补充后再次提交!",
                class_name: 'gritter-error gritter-center gritter-light'
            });

            return false;
        }

        var group = $.trim(inputArr[1].value);
        var newHostArr = new Array();
        for (var i = 2; i < inputArr.length; ++i) {
            var host = $.trim(inputArr[i].value);

            if(host == "") { // 判空操作，返回false
                $.gritter.add({
                    title: "服务器列表不允许为空!",
                    text: "请补充或删除空行后再次提交!",
                    class_name: 'gritter-error gritter-center gritter-light'
                });

                return false;
            }

            if (!newHostArr.contains(host)) {
                newHostArr.push(host);
            }
        }

        var data = {
            "serviceName" : serviceName,
            "group" : group,
            "toAddHosts" : newHostArr.join(",")
        };

        // 服务器提交修改成功后，返回最新hosts，再修改页面缓存
        $.ajax({
            url: '${rc.contextPath}/services/add/${projectName}',
            type: 'POST',
            data: data,
            error: function(response, textStatus){ // 500 etc.
                $.gritter.add({
                    title: response.status,
                    text: response.statusText,
                    class_name: 'gritter-error gritter-center gritter-light'
                });
            },
            success: function(response, textStatus) {
                if(response.status == "success") {
                    var rowData = [
                        '<a href="#">' + serviceName + '</a>',
                        '<span class="label label-sm label-success">' + group + '</span>',
                        newHostArr.join(","),
                        '<div class="hidden-sm hidden-xs action-buttons">' +
                        '<a class="green" href="javascript:void(0)" onclick="editService(this)">' +
                        '<i class="ace-icon fa fa-pencil bigger-130"></i></a></div>'
                    ];
                    var rowNode = dataTable.row.add(rowData).draw().node();
                    $(rowNode).attr('id', 'service_' + new Date().getTime());
                    $($(rowNode).find('td')[2]).css('word-break', 'break-all');
                    //$( rowNode ).css( 'color', 'red' ).animate( { color: 'black' } );
                    $('#add_hosts_info').modal('hide');

                } else { // 报个错
                    $.gritter.add({
                        title: response.status,
                        text: response.message,
                        class_name: 'gritter-error gritter-center gritter-light'
                    });
                }

            }
        });
        // 各个按钮置为不可用

    });

    $('#submit_edit_hosts').on('click',function(e){ // 提交 host 修改请求
        var serviceName = $('#edit_hosts_info').attr("data-servicename");
        var group = $('#edit_hosts_info').attr("data-group");
        var oriHostsStr = $('#edit_hosts_info').attr("data-hosts");

        var inputArr = $('#edit_hosts_info input');
        var oriHostArr = oriHostsStr.split(",");
        var newHostArr = new Array();

        for (var i = 0; i < inputArr.length; ++i) {
            var host = $.trim(inputArr[i].value);

            if(host == "") { // 判空操作，返回false
                $.gritter.add({
                    title: "不允许为空!",
                    text: "请补充或删除空行后再次提交!",
                    class_name: 'gritter-error gritter-center gritter-light'
                });

                return false;
            }

            if (!newHostArr.contains(host)) {
                newHostArr.push(host);
            }
        }

        var toAddHostArr = Array.minus(newHostArr, oriHostArr);
        var toDelHostArr = Array.minus(oriHostArr, newHostArr);

        var data = {
            "serviceName" : serviceName,
            "group" : group,
            "toAddHosts" : toAddHostArr.join(","),
            "toDelHosts" : toDelHostArr.join(",")
        };

        // 服务器提交修改成功后，返回最新hosts，再修改页面缓存
        $.ajax({
            url: '${rc.contextPath}/services/edit/${projectName}',
            type: 'POST',
            data: data,
            error: function(response, textStatus){ // 500 etc.
                $.gritter.add({
                    title: response.status,
                    text: response.statusText,
                    class_name: 'gritter-error gritter-center gritter-light'
                });
            },
            success: function(response, textStatus) {
                if(response.status == "success") { // 更新本地缓存

                    var onEditServiceTrId = $('#edit_hosts_info').attr("data-serviceid");
                    var onEditServiceTr = $('#' + onEditServiceTrId);
                    if (newHostArr.length > 0) {
                        dataTable.cell( onEditServiceTr.find('td')[2] ).data(newHostArr.join(",")).draw();
                    } else {
                        dataTable.row(onEditServiceTr).remove().draw();
                    }

                    $('#edit_hosts_info').modal('hide');

                } else { // 报个错
                    $.gritter.add({
                        title: response.status,
                        text: response.message,
                        class_name: 'gritter-error gritter-center gritter-light'
                    });
                }

            }
        });
        // 各个按钮置为不可用

    });

    function addsinglerow(dom) { // 添加一行 host 编辑框

        var host_line = '<div class="form-group col-xs-12">'
                + '<input class="input-large" type="text" placeholder="ip:port, e.g. 10.1.77.131:5060" value="" />'
                + '&nbsp;&nbsp;'
                + '<img src="${rc.contextPath}/resources/img/del.png" onclick="delsinglerow(this)" />'
                + '</div>';

        $(dom).closest('.modal-content').find('.host_line').append(host_line);
    }

    function delsinglerow(dom) { //删除所在行 host 编辑框
        $(dom).closest('div').remove();
    }
    // 编辑服务地址相关方法 ends
    // ******************************

    //override dialog's title function to allow for HTML titles
    $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
        _title: function(title) {
            var $title = this.options.title || '&nbsp;'
            if( ("title_html" in this.options) && this.options.title_html == true )
                title.html($title);
            else title.text($title);
        }
    }));

    // 申请管理员
    var adminApplyFunc = function (e) {
        e.preventDefault();

        var dialog = $( "#dialog-message" ).removeClass('hide').dialog({
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i>申请管理员?</h4></div>",
            title_html: true,
            buttons: [
                {
                    text: "Cancel",
                    "class" : "btn btn-xs",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: "OK",
                    "class" : "btn btn-primary btn-xs",
                    click: function() {
                        var currentUser = "${userName}";
                        var projectName = "${projectName}";
                        $.ajax({
                            url: '/projectowners/cmdb',
                            type: 'POST',
                            data:{"dpaccount": currentUser, "projectName": projectName},
                            error: function(){
                                console.log("server error!");
                            },
                            success: function(response, textStatus) {
                                //console.log(response.result);
                                window.location.reload();
                            }
                        });
                    }
                }
            ]
        });

    }

</script>