## Pigeon 2.0 Monitor
## 2013.07.18
<html>
	<head>
		<title>Pigeon Console</title>
	</head>
	
	<body>
		<h1>Pigeon Console</h1>
		
##weight	
		<h2>Weight</h2>
        <table border = 1>
        <tr><th>Service</th><th>Host</th><th>Weight</th></tr>
 ##Map<String, Map<String, Integer>>  
		#foreach($service in $weights.entrySet())
			#set($begin="true")
			#foreach($weight in $service.value.entrySet())
				#if($begin=="true")
					<tr> 
					<td rowspan=$service.value.size()>$service.getKey()</td>
					#set($begin="false")
				#else
					<tr>
				#end
				<td>$weight.key</td>
				<td>$weight.value</td>
				</tr>	
			#end
		#end	
		</table>
##end weight

##Services
	<h2>Services</h2>
	<table border =1>
		<tr><th>Service Name</th></tr>
		#foreach($service in $allServices.entrySet())
			<tr><td>$service.key</td></tr>
		#end
	</table>
##End Services

#set ($threadPram =["Shutdown", "Terminating", "Terminated", 
	"Core Pool Size", "Maximum Pool Size", "Pool Size", "Active Size",
	"Largest Pool Size", "Task Count", "Completed Task Count"])

##Thread


	#foreach ($pool in $pools.entrySet())
		<h2>$pool.key</h2>
		<table border = 1><tr>
		#foreach($pram in $threadPram)
			<td>$pram</td>
		#end 
		</tr>
		<tr><td>$pool.getValue().shutdown</td>
		<td>$pool.getValue().terminating</td>
		<td>$pool.getValue().terminated</td>
		<td>$pool.getValue().corePoolSize</td>
		<td>$pool.getValue().maximumPoolSize</td>
		<td>$pool.getValue().poolSize</td>
		<td>$pool.getValue().activeCount</td>
	
		<td>$pool.getValue().largestPoolSize</td>
		<td>$pool.getValue().taskCount</td>
		<td>$pool.getValue().completedTaskCount</td>
		</tr>
		</table>
	#end
##End Thread

	</body>
</html>