#set($layout="layoutblank.vm")
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8" />
    <title>Pigeon</title>

    <meta name="description" content="pigeon config"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/datepicker.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace.min.css" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${rc.contextPath}/resources/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->
    <link href="${rc.contextPath}/resources/style/bootstrap-switch.min.css" rel="stylesheet">
    <style type="text/css">

        .vertical-center{
            float: none !important;
        }
        .timeline-widget{
            border: none;
            border-left: 3px solid #DAE1E5;
        }
        .timeline-widget-header{
            background-color: #ECF1F4;
            border-bottom-width: 0;
            background-image: none;
        }
        .no-padding-top{
            padding-top: none;
        }
        .margin-top{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .margin-no-bottom{
            margin-bottom: 0px;
        }
        .bottom-toolbar-tool{
            border-left: 1px solid #D9D9D9;
            border-right:1px solid #D9D9D9;
        }
        .bottom-toolbar-tool-first{
            border-left:2px solid #D9D9D9;
            border-right: 1px solid #D9D9D9;
        }
        .bottom-toolbar-tool-last{
            border-left:1px solid #D9D9D9;
            border-rigeht:1px;
        }
        .bottom-toolbar{
            background-color: #ECF1F4 !important;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        .comments-container{
            margin-top: 5px;
            background-color: #ECF1F4 !important;
        }
        .test{
            background-color: darkorange;
        }
    </style>

    <!-- ace settings handler -->
    <script src="${rc.contextPath}/resources/assets/js/ace-extra.min.js"></script>

</head>
<body class="no-skin">

<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default">
    #parse("common/navbar.vm")
</div>
<div class="main-container" id="main-container">

    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar   responsive">
        #parse("common/sidebar.vm")
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <div class="col-xs-6">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">主页</a>
                    </li>

                    <li class="active">
                        <a href="#">意见反馈</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="page-content">
            <div class="page-content-area">
                #parse("feedback/form.vm")
                <div class="page-header">
                    <h1>
                        意见反馈
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Assit us to improve Pigeon
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-8 ajaxContent">
                    </div>
                    <div class="col-xs-4">
                        <div class="alert alert-block alert-info">
                            <i class="ace-icon fa fa-check"></i>
                            <strong>Welcome to <span class="green">Pigeon</span>!</strong>
                            <p>感谢您使用Pigeon!欢迎您反馈在使用Pigeon或者Pigeon-Web中遇到的问题.我们乐于看到您对Piegon的意见或者建议.</p>
                            <!--<p>Pigeon架构组会快速响应您的反馈并不断完善.</p>
                            <strong>联系方式</strong>
                            <br/>
                            <i class="ace-icon glyphicon glyphicon-user"></i>&nbsp;石华珅
                            <br/>
                            <i class="ace-icon glyphicon glyphicon-phone"></i>&nbsp;13818538136
                            <br/>
                            <i class="ace-icon fa fa-envelope"></i>&nbsp;shihuashen@meituan.com-->
                        </div>
                        <button id="id-add-attachment" type="button" class="btn btn-sm btn-danger col-xs-12" href="#infoPage" data-toggle="modal">
                            <i class="ace-icon fa fa-envelope bigger-130"></i>
                            添加新的反馈信息
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        #parse("common/sub-footer.vm")
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>







        <!-- basic scripts -->

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='${rc.contextPath}/resources/assets/js/jquery.min.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='${rc.contextPath}/resources/assets/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
            if('ontouchstart' in document.documentElement)
                document.write("<script src='${rc.contextPath}/resources/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="${rc.contextPath}/resources/assets/js/bootstrap.min.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/date-time/bootstrap-datepicker.min.js"></script>
        <!-- page specific plugin scripts -->

        <script src="${rc.contextPath}/resources/js/bootstrap-switch.min.js"></script>
        <script src="${rc.contextPath}/resources/js/bootstrap-typeahead.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/bootbox.min.js"></script>
        <script src="${rc.contextPath}/resources/js/my-pagination.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/bootstrap-wysiwyg.min.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/jquery.hotkeys.min.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/jquery.autosize.min.js"></script>
        <script src="${rc.contextPath}/resources/js/my-ajax-wrapper.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/spin.min.js"></script>
        <script>
            jQuery(function($) {
                $('li[id="user_feedback"]').addClass("active");
                $('.ajaxContent').ajaxLoad({
                    url:'/feedback/feedbacksInit',
                    data:''
                });
                $('textarea.autosize').autosize({append: "\n"});
                $('#editor').ace_wysiwyg({
                    toolbar:
                            [

                                'fontSize',
                                {name:'insertunorderedlist', className:'btn-success'},
                                {name:'insertorderedlist', className:'btn-success'},
                                {name:'outdent', className:'btn-purple'},
                                {name:'indent', className:'btn-purple'},
                                {name:'justifyleft', className:'btn-primary'},
                                {name:'justifycenter', className:'btn-primary'},
                                {name:'justifyright', className:'btn-primary'},
                                {name:'justifyfull', className:'btn-inverse'},
                                {name:'createLink', className:'btn-pink'},
                                {name:'unlink', className:'btn-pink'},
                                {name:'undo', className:'btn-grey'},
                                {name:'redo', className:'btn-grey'}
                            ]
                }).prev().addClass('wysiwyg-style2');
                $('#feedback-submit').bind('click',function () {
                    var titleContent = $('#feedback-title').val();
                    var feedbackContent = $('#editor').html();
                    $.ajax({
                        type : "post",
                        url :"/feedback/newFeedback",
                        data:{'title':titleContent,"content":feedbackContent},
                        success : function (data) {
                            $('.ajaxContent').ajaxLoad({
                                url:'/feedback/feedbacksInit',
                                data:''
                            });
                        }
                    });
                });


            });
        </script>
        <!-- ace scripts -->
        <script src="${rc.contextPath}/resources/assets/js/ace-elements.min.js"></script>
        <script src="${rc.contextPath}/resources/assets/js/ace.min.js"></script>

</body>
</html>