#set($layout="layoutblank.vm")
<div class="page-header">
    <h1>
        使用帮助
    </h1>
</div>
<div class="row" style="padding: 0px 30px ">
    <div class="col-xs-12">
        <div id="faq-tab-1" class="tab-pane fade active in">
            <h4 class="blue">
                <i class="ace-icon fa fa-check bigger-110"></i>
                General Questions
            </h4>

            <div class="space-8"></div>

            <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle">
                            <i class="pull-right ace-icon fa fa-chevron-down" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
                            帮助文档
                        </a>
                    </div>

                    <div class="panel-collapse collapse in" id="faq-1-1" style="height: 0px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    Pigeon 是上海侧的 RPC 服务框架.更多使用介绍和用法请查看<a href="http://wiki.sankuai.com/pages/viewpage.action?pageId=505526495" target="_blank">使用文档</a>.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    关于Piegon的历史版本信息请查看<a href="http://wiki.sankuai.com/display/DEV/Pigeon+release+notes" target="_blank">Pigeon发布日志</a>.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    更多的使用需求,可以至<a href="http://wiki.sankuai.com/pages/viewpage.action?pageId=549783450" target="_blank">Pigeon需求收集</a>提出.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>