#set($layout="layoutblank.vm")
    <div class="widget-box no-top-border">
        <div class="widget-header">
            <h4 class="widget-title lighter smaller">
                <i class="ace-icon fa fa-rss orange"></i>
            </h4>
            <div class="widget-toolbar no-border">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#all-project">全部应用</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#my-project">我的应用</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main padding-4">
                <div class="tab-content padding-8">
                    <div id="all-project" class="tab-pane active">
                        <div id="test-scroll">
                            <div style="width: 450px" id="tree1" class="tree tree-selectable"></div>
                        </div>
                    </div>
                    <div id="my-project" class="tab-pane">
                        <div id="my-scroll">
                            <div style="width:450px">
                                #foreach ($project in $projects)
                                    <div class="profile-activity clearfix my-project-name">
                                        $project
                                    </div>
                                #end


                            </div>
                        </div>
                    </div><!-- /.#member-tab -->
                </div>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->


<script>
    function dataFormat(root) {
        var object={};
        var rootObject = root;
        var childrenCount = rootObject["childrenCount"];
        if(childrenCount==0){
            var name = rootObject["name"];
            return {name:name,type:"item"};
        }else{
            var name = rootObject["name"];
            object["name"]=name;
            object["type"] = "folder";
            var children = {};
            $.each(rootObject["children"], function(index, content){
                var childrenObj = dataFormat(content);
                var childrenObjName = content["name"];
                children[childrenObjName] = childrenObj;
            });
            object["additionalParameters"] = {"children":children};
        }
        return object;
    }
    jQuery(function($) {
//        $(".side-affix").affix({
//            offset: {
//                top: 0
//            }
//        });
        $('#test-scroll').height($(window).height()-$("#test-scroll").offset().top-12);
        $('#my-scroll').height($(window).height()-$("#test-scroll").offset().top-12);
        $("#pageContent").width($(window).width()-300);
        $("#pageContent").offset({left:300});
        $(window).resize(function () {
            var activeTab = $(".side-affix").find(".tab-pane.active");
            $('#test-scroll').height($(window).height()-activeTab.offset().top-12);
            $('#my-scroll').height($(window).height()-activeTab.offset().top-12);
            $("#pageContent").width($(window).width()-300);
            $("#pageContent").offset({left:300});
        });
//        $("#scroll-content").height($(window).height()-$("#scroll-content").offset().top-12);
//        $("#pageContent").width($(window).width()-300);
//        $("#pageContent").offset({left:300});
//        $(window).resize(function () {
//            $('#scroll-content').height($(window).height()-$("#scroll-content").offset().top-12);
//            $("#pageContent").width($(window).width()-300);
//            $("#pageContent").offset({left:300});
//        });
        var treeData = dataFormat($data);
        var treeDataSource = new DataSourceTree({data: treeData["additionalParameters"]["children"]});
        $('#tree1').ace_tree({
            dataSource: treeDataSource ,
            multiSelect:false,
            loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
            'open-icon' : 'ace-icon tree-minus',
            'close-icon' : 'ace-icon tree-plus',
            'selectable' : true,
            'selected-icon' : 'ace-icon fa fa-check',
            'unselected-icon' : 'ace-icon fa fa-times'
        });
        $("#test-scroll").mCustomScrollbar({
            theme:"rounded-dark",
            axis:"yx"
        });
        $("#my-scroll").mCustomScrollbar({
            theme:"rounded-dark",
            axis:"yx"
        });

        $('#tree1').on('updated', function(e, result) {
            if(result.eventType=="selected"){
                var projectName = result.info[0].name;
                {
                    window.location = "#!/tree/"+projectName+"/summary/";
                }
//                $("#pageContent").attr("data-project-name",projectName);
//                $("#pageContent").ajaxLoad({
//                    url:'/shs/project',
//                    type:'get'
//                });
            }
        });
        $(".my-project-name").on('click',function(){
            var projectName = $.trim($(this).html());
            window.location = "#!/tree/"+projectName+"/summary/";
        });
    });
</script>