<style>
.sidebar .sidebar-shortcuts-large>.btn{
	width:88px;
	height:30px;
}
</style>

<script type="text/javascript">
	try {
		ace.settings.check('sidebar', 'fixed')
	} catch (e) {
	}
</script>
<!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
	<li id="project_search"><a href="${rc.contextPath}/"> <i
			class="menu-icon glyphicon glyphicon-eye-open"></i> <span class="menu-text">
				快速查询 </span>
	</a> <b class="arrow"></b></li>
	<li id="service_index">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text">注册中心查询</span>
			<b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
        <ul class="submenu">
            <li id="service_search" class="">
                <a href="${rc.contextPath}/service/">
                    <i class="menu-icon fa fa-caret-right"></i>
                    服务名称查询
                </a>

                <b class="arrow"></b>
            </li>

            <li id="address_search" class="">
                <a href="${rc.contextPath}/address/">
                    <i class="menu-icon fa fa-caret-right"></i>
					服务地址查询
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
	</li>

	<li id="projects_index" class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-cogs"></i>
			<span class="menu-text">应用管理</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li id="project_info" class="">
				<a href="${rc.contextPath}/projects">
					<i class="menu-icon fa fa-caret-right"></i>
					我的应用
				</a>

				<b class="arrow"></b>
			</li>
			<li id="project_all" class="">
				<a href="${rc.contextPath}/projects.all">
					<i class="menu-icon fa fa-caret-right"></i>
					全部应用
				</a>
				<b class="arrow"></b>
			</li>
			<li id="region_router" class="">
				<a href="${rc.contextPath}/region/regionRouter">
					<i class="menu-icon fa fa-caret-right"></i>
					Region路由
				</a>
			</li>
		</ul>
	</li>
    <li id="service_doc">
        <a href="${rc.contextPath}/doc">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text">服务文档中心</span>
        </a>
        <b class="arrow"></b>
    </li>
	<li id ="user_guide">
		<a href="${rc.contextPath}/resources/mdwiki/index.html#!USER_GUIDE.md">
			<i class="menu-icon fa fa-question"></i>
			<span class="menu-text">使用帮助</span>
		</a>
		<b class="arrow"></b>
	</li>
    <li id ="user_feedback">
        <a href="${rc.contextPath}/feedback">
            <i class="menu-icon ace-icon fa fa-comments-o fa-2x "></i>
            <span class="menu-text">意见反馈</span>
        </a>
        <b class="arrow"></b>
    </li>
</ul>
<!-- /.nav-list -->
<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i class="ace-icon fa fa-angle-double-left"
		data-icon1="ace-icon fa fa-angle-double-left"
		data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
	try {
		//ace.settings.check('sidebar', 'collapsed')
	} catch (e) {
	}
</script>


<!-- /section:basics/sidebar -->
