
<div class="footer-inner">
	<!-- #section:basics/footer -->
	<div class="footer-content">
		<span class="bigger-120"> <span class="blue bolder">Pigeon</span>
			©2016 dianping平台架构 www@dianping.com
	</div>

	<!-- /section:basics/footer -->
</div>
