<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li>
            <a href="#">More Pages</a>
        </li>
        <li class="active">User Profile</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search" id="nav-search">
        <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
        </form>
    </div><!-- /.nav-search -->

    <!-- /section:basics/content.searchbox -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="page-content-area">
        <div class="page-header">
            <h1>
                Service Profile Page
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Service meta information and Document
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div>
                    <div id="user-profile-1" class="user-profile row">


                        <div class="col-xs-12 col-sm-9 pull-right">
                            <div class="widget-box transparent">
                                <div class="widget-header widget-header-small">
                                    <h4 class="widget-title blue smaller">
                                        <i class="ace-icon fa fa-rss orange"></i>
                                        Service meta information
                                    </h4>
                                    <div class="widget-toolbar action-buttons">
                                        <a href="#" data-action="reload">
                                            <i class="ace-icon fa fa-refresh blue"></i>
                                        </a>
                                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main no-padding">
                                        <div class="profile-user-info ">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> 服务名称</div>

                                                <div class="profile-info-value">
                                                    <span class="editable" id="username">alexdoe</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Location </div>

                                                <div class="profile-info-value">
                                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                                    <span class="editable" id="country">Netherlands</span>
                                                    <span class="editable" id="city">Amsterdam</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">所属部门</div>

                                                <div class="profile-info-value">
                                                    <span class="editable" id="age">基础架构部</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">所属用户</div>
                                                <div class="profile-info-value">
                                                    <span class="editable" id="signup">2010/06/20</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">服务水平</div>

                                                <div class="profile-info-value">
                                                    <span class="editable" id="login">3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id = "my-widget-box" class="widget-box transparent">
                                <div class="widget-header widget-header-small">
                                    <h4 class="widget-title blue smaller">
                                        <i class="ace-icon fa fa-rss orange"></i>
                                        Service documents
                                    </h4>

                                    <div class="widget-toolbar action-buttons">
                                        <a href="#" class="red2">
                                            <i id = "editPencil" class="ace-icon fa fa-pencil "></i>
                                        </a>
                                        <a href="#" data-action="reload">
                                            <i class="ace-icon fa fa-refresh green"></i>
                                        </a>
                                        <!--TODO 对其所有元素,调整元素大小-->
                                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                                        <a data-action="collapse" href="#" class="blue"><i class="ace-icon fa fa-chevron-up"></i></a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main ">
                                        <!-- #section:pages/profile.feed -->
                                        <div id="orignalContext">
                                            <div id="orignalContainer"></div>
                                        </div>
                                        <div id="editorContainer" >
                                            <div id="editor" class="wysiwyg-editor">
                                            </div>
                                            <div id="edit-widget-toolbox" class="widget-toolbox padding-4 clearfix">
                                                <div class="btn-group pull-left">
                                                    <button id = "deleteEdit" class="btn btn-sm btn-warning">
                                                        <i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
                                                        Delete
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-left">
                                                    <button id="cancelEdit" class="btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                                        Cancel
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <button id="publishEdit"class="btn btn-sm btn-info2">
                                                        <i class="ace-icon fa fa-globe bigger-125"></i>
                                                        Publish
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <button id="saveEdit" class="btn btn-sm btn-purple">
                                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /section:pages/profile.feed -->
                                    </div>
                                </div>
                            </div>


                            <div class="space-6"></div>


                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content-area -->
</div>
</div>
</div>
<!-- /.page-content -->

<script type="text/javascript">
    jQuery(function($) {
        //initPage
        {
            $('#editor').ace_wysiwyg().prev().addClass('wysiwyg-style2');
            //bind the event listener
            $('#deleteEdit').on(ace.click_event,function () {

                bootbox.dialog({
                    message: "<span class='bigger-110'>删除当前文档将置本服务文档为空(可以重新编辑添加文档),是否确认删除?</span>",
                    buttons:
                    {
                        "confirm" :
                        {
                            "label" : "确认删除",
                            "className" : "btn-sm btn-danger",
                            "callback": function() {
                                //TODO
                                $('#orignalContainer').html('<font color="#f83a22">本服务文档为空</font>');
                                $('#editorContainer').hide();
                                $('#orignalContext').show();
                            }
                        },
                        "cancel" :
                        {
                            "label" : "取消",
                            "className" : "btn-sm btn-success",
                            "callback": function() {
                                //Do not need callback
                            }
                        }
                    }
                });
            });
            $('#cancelEdit').on(ace.click_event,function () {

                bootbox.dialog({
                    message: "<span class='bigger-110'>取消编辑将不对文档进行修改,是否确认取消编辑?</span>",
                    buttons:
                    {
                        "confirm" :
                        {
                            "label" : "确认取消",
                            "className" : "btn-sm btn-danger",
                            "callback": function() {
                                //TODO
                                $('#editorContainer').hide();
                                $('#orignalContext').show();
                            }
                        },
                        "cancel" :
                        {
                            "label" : "返回编辑",
                            "className" : "btn-sm btn-success",
                            "callback": function() {
                                //Do not need callback
                            }
                        }
                    }
                });
            });
            $('#saveEdit').on(ace.click_event,function () {

                bootbox.dialog({
                    message: "<span class='bigger-110'>保存编辑将缓存您的编辑(仅自己可见),是否确认保存?</span>",
                    buttons:
                    {
                        "confirm" :
                        {
                            "label" : "确认保存",
                            "className" : "btn-sm btn-danger",
                            "callback": function() {
                                var editorContext = $('#editor').html();
                                $('#orignalContainer').html(editorContext);
                                $('#orignalContainer').contentEditable='false';
                                $('#editorContainer').hide();
                                $('#orignalContext').show();
                            }
                        },
                        "cancel" :
                        {
                            "label" : "返回编辑",
                            "className" : "btn-sm btn-success",
                            "callback": function() {
                                //Do not need callback
                            }
                        }
                    }
                });
            });
            $('#publishEdit').on(ace.click_event,function () {

                bootbox.dialog({
                    message: "<span class='bigger-110'>发布编辑将同步当前文档至全局,是否确认发布?</span>",
                    buttons:
                    {
                        "confirm" :
                        {
                            "label" : "确认发布",
                            "className" : "btn-sm btn-danger",
                            "callback": function() {
                                //TODO
                            }
                        },
                        "cancel" :
                        {
                            "label" : "返回编辑",
                            "className" : "btn-sm btn-success",
                            "callback": function() {
                                //Do not need callback
                            }
                        }
                    }
                });
            });
            $('#editorContainer').hide();
        }
        //click to switch from the original to editor
        $('#editPencil').click(function(){
            //TODO For now, we just read the orignal data. Next, we may need to save and read from the history edit(version control).
            if($('#editorContainer').css('display')=='none'){
                var orignalContainerText = $('#orignalContainer').html();
                $('#editor').html(orignalContainerText);
                $('#orignalContext').hide()
                $('#editorContainer').show();
            }
        });

        //make the editor have all the available height
        /**$(window).on('resize.editor', function() {
		    var offset = $('#editor').parent().offset();
		    var winHeight =  $(this).height();

		    $('#editor').css({'height':winHeight - offset.top  10, 'max-height': 'none'});
         }).triggerHandler('resize.editor'); **/
        $('#my-widget-box').on(
                {
                    'fullscreen.ace.widget' : function (e) {
                        if($('#editor').hasClass('my-fullscreen')){
                            $('#orignalContainer').css({'overflow':'visible','height':''});
                            $('#editor').removeClass('my-fullscreen');
                        }else {
                            $('#orignalContainer').css({
                                'overflow-y': 'auto',
                                'overflow-x': 'auto',
                                'height': $(window).height() - 70
                            });
                            $('#editor').css({'height': $(window).height() - 130, 'max-height': 'none'});
                            $('#editor').addClass('my-fullscreen');
                        }
                    }

                    /** 'hide.ace.widget' : function(e) {
                        //e.preventDefault();//to prevent hiding
                        log_event('\nhide.ace.widget called before being hidden');
                    },
                     'hidden.ace.widget' : function(e) {
                        log_event('hidden.ace.widget called after widget is hidden');
                    },

                     'show.ace.widget' : function(e) {
                        //e.preventDefault();//to prevent showing
                        log_event('\nshow.ace.widget called before being shown');
                    },
                     'shown.ace.widget' : function(e) {
                        log_event('shown.ace.widget called after widget is shown');
                    },

                     'close.ace.widget' : function(e) {
                        //e.preventDefault();//to prevent closing
                        log_event('\nclose.ace.widget called before being closed');
                    },
                     'closed.ace.widget' : function(e) {
                        log_event('closed.ace.widget called almost when widget is closed');
                    },

                     'reload.ace.widget' : function(e) {
                        //e.preventDefault();//to prevent reloading
                        log_event('\nreload.ace.widget called before reloading widget');

                        e.stopPropagation();//stop propagating to the event defined in ace.min.js which you should remove altogether

                        var $box = $(this);
                        setTimeout(function() {
                            $box.trigger('reloaded.ace.widget');
                        }, parseInt(Math.random() * 500 + 500));

                    },
                     'reloaded.ace.widget' : function(e) {
                        log_event('reloaded.ace.widget called after reloading widget');
                    },

                     'setting.ace.widget' : function(e) {
                        log_event('\nsetting.ace.widget called when setting button is clicked');
                    }
                     **/

                });




        //editables on first profile page
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
        $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
                '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';

        //editables

        //text editable
        $('#username')
                .editable({
                    type: 'text',
                    name: 'username'
                });



        //select2 editable
        var countries = [];
        $.each({ "CA": "Canada", "IN": "India", "NL": "Netherlands", "TR": "Turkey", "US": "United States"}, function(k, v) {
            countries.push({id: k, text: v});
        });

        var cities = [];
        cities["CA"] = [];
        $.each(["Toronto", "Ottawa", "Calgary", "Vancouver"] , function(k, v){
            cities["CA"].push({id: v, text: v});
        });
        cities["IN"] = [];
        $.each(["Delhi", "Mumbai", "Bangalore"] , function(k, v){
            cities["IN"].push({id: v, text: v});
        });
        cities["NL"] = [];
        $.each(["Amsterdam", "Rotterdam", "The Hague"] , function(k, v){
            cities["NL"].push({id: v, text: v});
        });
        cities["TR"] = [];
        $.each(["Ankara", "Istanbul", "Izmir"] , function(k, v){
            cities["TR"].push({id: v, text: v});
        });
        cities["US"] = [];
        $.each(["New York", "Miami", "Los Angeles", "Chicago", "Wysconsin"] , function(k, v){
            cities["US"].push({id: v, text: v});
        });

        var currentValue = "NL";
        $('#country').editable({
            type: 'select2',
            value : 'NL',
            //onblur:'ignore',
            source: countries,
            select2: {
                'width': 140
            },
            success: function(response, newValue) {
                if(currentValue == newValue) return;
                currentValue = newValue;

                var new_source = (!newValue || newValue == "") ? [] : cities[newValue];

                //the destroy method is causing errors in x-editable v1.4.6+
                //it worked fine in v1.4.5
                /**
                 $('#city').editable('destroy').editable({
							type: 'select2',
							source: new_source
						}).editable('setValue', null);
                 */

                //so we remove it altogether and create a new element
                var city = $('#city').removeAttr('id').get(0);
                $(city).clone().attr('id', 'city').text('Select City').editable({
                    type: 'select2',
                    value : null,
                    //onblur:'ignore',
                    source: new_source,
                    select2: {
                        'width': 140
                    }
                }).insertAfter(city);//insert it after previous instance
                $(city).remove();//remove previous instance

            }
        });

        $('#city').editable({
            type: 'select2',
            value : 'Amsterdam',
            //onblur:'ignore',
            source: cities[currentValue],
            select2: {
                'width': 140
            }
        });



        //custom date editable
        $('#signup').editable({
            type: 'adate',
            date: {
                //datepicker plugin options
                format: 'yyyy/mm/dd',
                viewformat: 'yyyy/mm/dd',
                weekStart: 1

                //,nativeUI: true//if true and browser support input[type=date], native browser control will be used
                //,format: 'yyyy-mm-dd',
                //viewformat: 'yyyy-mm-dd'
            }
        })

        $('#age').editable({
            type: 'spinner',
            name : 'age',
            spinner : {
                min : 16,
                max : 99,
                step: 1,
                on_sides: true
                //,nativeUI: true//if true and browser support input[type=number], native browser control will be used
            }
        });


        $('#login').editable({
            type: 'slider',
            name : 'login',

            slider : {
                min : 1,
                max: 50,
                width: 100
                //,nativeUI: true//if true and browser support input[type=range], native browser control will be used
            },
            success: function(response, newValue) {
                if(parseInt(newValue) == 1)
                    $(this).html(newValue + " hour ago");
                else $(this).html(newValue + " hours ago");
            }
        });

        /**
         $('#about').ace_wysiwyg();
         $('#about').editable({
            mode: 'inline',
            type: 'wysiwyg',
            name : 'about',

            wysiwyg : {
                //css : {'max-width':'300px'}
            },
            success: function(response, newValue) {
            }
        });
         **/



        // *** editable avatar *** //
        try {//ie8 throws some harmless exceptions, so let's catch'em

            //first let's add a fake appendChild method for Image element for browsers that have a problem with this
            //because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
            try {
                document.createElement('IMG').appendChild(document.createElement('B'));
            } catch(e) {
                Image.prototype.appendChild = function(el){}
            }

            var last_gritter
            $('#avatar').editable({
                type: 'image',
                name: 'avatar',
                value: null,
                image: {
                    //specify ace file input plugin's options here
                    btn_choose: 'Change Avatar',
                    droppable: true,
                    maxSize: 110000,//~100Kb

                    //and a few extra ones here
                    name: 'avatar',//put the field name here as well, will be used inside the custom plugin
                    on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                        if(last_gritter) $.gritter.remove(last_gritter);
                        if(error_type == 1) {//file format error
                            last_gritter = $.gritter.add({
                                title: 'File is not an image!',
                                text: 'Please choose a jpg|gif|png image!',
                                class_name: 'gritter-error gritter-center'
                            });
                        } else if(error_type == 2) {//file size rror
                            last_gritter = $.gritter.add({
                                title: 'File too big!',
                                text: 'Image size should not exceed 100Kb!',
                                class_name: 'gritter-error gritter-center'
                            });
                        }
                        else {//other error
                        }
                    },
                    on_success : function() {
                        $.gritter.removeAll();
                    }
                },
                url: function(params) {
                    // ***UPDATE AVATAR HERE*** //
                    //for a working upload example you can replace the contents of this function with
                    //examples/profile-avatar-update.js

                    var deferred = new $.Deferred

                    var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
                    if(!value || value.length == 0) {
                        deferred.resolve();
                        return deferred.promise();
                    }


                    //dummy upload
                    setTimeout(function(){
                        if("FileReader" in window) {
                            //for browsers that have a thumbnail of selected image
                            var thumb = $('#avatar').next().find('img').data('thumb');
                            if(thumb) $('#avatar').get(0).src = thumb;
                        }

                        deferred.resolve({'status':'OK'});

                        if(last_gritter) $.gritter.remove(last_gritter);
                        last_gritter = $.gritter.add({
                            title: 'Avatar Updated!',
                            text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                            class_name: 'gritter-info gritter-center'
                        });

                    } , parseInt(Math.random() * 800 + 800))

                    return deferred.promise();

                    // ***END OF UPDATE AVATAR HERE*** //
                },

                success: function(response, newValue) {
                }
            })
        }catch(e) {}



        //another option is using modals
        $('#avatar2').on('click', function(){
            var modal =
                    '<div class="modal fade">\
                      <div class="modal-dialog">\
                       <div class="modal-content">\
                        <div class="modal-header">\
                            <button type="button" class="close" data-dismiss="modal">&times;</button>\
                            <h4 class="blue">Change Avatar</h4>\
                        </div>\
                        \
                        <form class="no-margin">\
                         <div class="modal-body">\
                            <div class="space-4"></div>\
                            <div style="width:75%;margin-left:12%;"><input type="file" name="file-input" /></div>\
                         </div>\
                        \
                         <div class="modal-footer center">\
                            <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Submit</button>\
                            <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
                         </div>\
                        </form>\
                      </div>\
                     </div>\
                    </div>';


            var modal = $(modal);
            modal.modal("show").on("hidden", function(){
                modal.remove();
            });

            var working = false;

            var form = modal.find('form:eq(0)');
            var file = form.find('input[type=file]').eq(0);
            file.ace_file_input({
                style:'well',
                btn_choose:'Click to choose new avatar',
                btn_change:null,
                no_icon:'ace-icon fa fa-picture-o',
                thumbnail:'small',
                before_remove: function() {
                    //don't remove/reset files while being uploaded
                    return !working;
                },
                allowExt: ['jpg', 'jpeg', 'png', 'gif'],
                allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
            });

            form.on('submit', function(){
                if(!file.data('ace_input_files')) return false;

                file.ace_file_input('disable');
                form.find('button').attr('disabled', 'disabled');
                form.find('.modal-body').append("<div class='center'><i class='ace-icon fa fa-spinner fa-spin bigger-150 orange'></i></div>");

                var deferred = new $.Deferred;
                working = true;
                deferred.done(function() {
                    form.find('button').removeAttr('disabled');
                    form.find('input[type=file]').ace_file_input('enable');
                    form.find('.modal-body > :last-child').remove();

                    modal.modal("hide");

                    var thumb = file.next().find('img').data('thumb');
                    if(thumb) $('#avatar2').get(0).src = thumb;

                    working = false;
                });


                setTimeout(function(){
                    deferred.resolve();
                } , parseInt(Math.random() * 800 + 800));

                return false;
            });

        });



        //////////////////////////////
        $('#profile-feed-1').ace_scroll({
            height: '250px',
            mouseWheelLock: true,
            alwaysVisible : true
        });

        $('a[ data-original-title]').tooltip();

        $('.easy-pie-chart.percentage').each(function(){
            var barColor = $(this).data('color') || '#555';
            var trackColor = '#E2E2E2';
            var size = parseInt($(this).data('size')) || 72;
            $(this).easyPieChart({
                barColor: barColor,
                trackColor: trackColor,
                scaleColor: false,
                lineCap: 'butt',
                lineWidth: parseInt(size/10),
                animate:false,
                size: size
            }).css('color', barColor);
        });

        ///////////////////////////////////////////

        //right & left position
        //show the user info on right or left depending on its position
        $('#user-profile-2 .memberdiv').on('mouseenter touchstart', function(){
            var $this = $(this);
            var $parent = $this.closest('.tab-pane');

            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $this.offset();
            var w2 = $this.width();

            var place = 'left';
            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';

                $this.find('.popover').removeClass('right left').addClass(place);
        }).on('click', function(e) {
            e.preventDefault();
        });


        ///////////////////////////////////////////
        $('#user-profile-3')
                .find('input[type=file]').ace_file_input({
                    style:'well',
                    btn_choose:'Change avatar',
                    btn_change:null,
                    no_icon:'ace-icon fa fa-picture-o',
                    thumbnail:'large',
                    droppable:true,

                    allowExt: ['jpg', 'jpeg', 'png', 'gif'],
                    allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
                })
                .end().find('button[type=reset]').on(ace.click_event, function(){
                    $('#user-profile-3 input[type=file]').ace_file_input('reset_input');
                })
                .end().find('.date-picker').datepicker().next().on(ace.click_event, function(){
            $(this).prev().focus();
        })
        $('.input-mask-phone').mask('(999) 999-9999');



        ////////////////////
        //change profile
        $('[data-toggle="buttons"] .btn').on('click', function(e){
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            $('.user-profile').parent().addClass('hide');
            $('#user-profile-'+which).parent().removeClass('hide');
        });
    });
</script>
