#set($layout="layoutblank.vm")
<style>
    .content{
        padding:12px;
    }
</style>
##        <h1>
##            <span>$projectOrg.getBu()</span>
##            <i class="ace-icon fa fa-angle-double-right"></i>
##            <span>$projectOrg.getProduct()</span>
##            <i class="ace-icon fa fa-angle-double-right"></i>
##            <span>$projectOrg.getName()</span>
##        </h1>
##        <div>
##            <ul class="nav nav-tabs">
##                <li id = "summary"  href="#mainContent" class="active" data-toggle="tab">
##                    <a>
##                        <i class="menu-icon fa fa-tachometer"></i>
##                        <span class="menu-text">服务列表</span>
##                    </a>
##                    <b class="arrow"></b>
##                </li>
##                <li id="region_router" href="#mainContent" data-toggle="tab">
##                    <a>
##                        <i class="menu-icon fa fa-desktop"></i>
##                        <span class="menu-text">Region路由</span>
##                    </a>
##                </li>
##                <li id="degrad" href="#mainContent" data-toggle="tab">
##                    <a>
##                        <i class="menu-icon fa fa-pencil-square-o"></i>
##                        <span class="menu-text">服务降级</span>
##                    </a>
##                </li>
##            </ul>
##            <div  class="tab-content">
##                <div class="tab-pane fade in active" id="mainContent"></div>
##            </div>
##        </div>
<div class="content">
    <div class="page-header">
        <h1>
            <span>$projectOrg.getBu()</span>
            <i class="ace-icon fa fa-angle-double-right"></i>
            <span>$projectOrg.getProduct()</span>
            <i class="ace-icon fa fa-angle-double-right"></i>
            <span>$projectOrg.getName()</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li id = "summary"  href="#mainContent" class="active" data-toggle="tab">
                    <a>
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text">服务列表</span>
                    </a>
                    <b class="arrow"></b>
                </li>
##                <li id="region_router" href="#mainContent" data-toggle="tab">
##                    <a>
##                        <i class="menu-icon fa fa-desktop"></i>
##                        <span class="menu-text">Region路由</span>
##                    </a>
##                </li>
                <li id="degrad" href="#mainContent" data-toggle="tab">
                    <a>
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">服务降级</span>
                    </a>
                </li>
            </ul>
            <div  class="tab-content">
                <div class="tab-pane fade in active" id="mainContent"></div>
            </div>
        </div>
    </div>

</div>
<script>
    jQuery(function($) {
//        var projectName = $("#pageContent").attr("data-project-name");
//        $("#mainContent").ajaxLoad({
//            url:"/transit/services/"+projectName,
//            type:"get"
//        });
        var location = window.location.hash;
        var params =  location.split("/");
        var projectName = params[2];
        $("#summary").bind("click",function () {
            if(!$(this).hasClass("active")){
                window.location.hash = "#!/tree/"+projectName+"/summary/";
//                $("#mainContent").ajaxLoad({
//                    url:"/transit/services/"+projectName,
//                    type:"get"
//                });
            }
        });
//        $("#region_router").bind("click",function () {
//            if(!$(this).hasClass("active")){
//                window.location.hash = "#!/tree/"+projectName+"/router/";
//            }
//        });
        $("#degrad").bind("click",function () {
            if(!$(this).hasClass("active")){
                window.location.hash = "#!/tree/"+projectName+"/degrade/";
            }
        });
    });
</script>