<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.pigeon.governor.message.depenedencies.dao.CustomEventReceiverMapper">
    <resultMap id="BaseResultMap" type="com.dianping.pigeon.governor.model.EventReceiverModel">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="event_signature" jdbcType="INTEGER" property="eventSignature" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="recevier_type" jdbcType="VARCHAR" property="recevierType" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    </resultMap>
    <select id="getReceiverWithEventSignature" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM event_receiver WHERE #{0} = event_signature
    </select>
    <select id="selectAllEvent" resultMap="BaseResultMap">
        SELECT * FROM event_receiver
    </select>
</mapper>