<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    Author: shihuashen
    Date:   2016/04/22
    This mapper is aimed to isolate the dependencies of the mybatis-generator. We do not need to modify
    the mybatis auto generated mapper. Instead, we implements our logic sql all in this file.
-->
<mapper namespace="com.dianping.pigeon.governor.dao.ProjectConfigMapper">
    <select id="getServiceNames" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT service.name
        FROM service,project WHERE service.projectId = project.id AND project.name = #{0};
    </select>
    <select id="getProjectCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*)
        FROM project WHERE project.name = #{0};
    </select>
</mapper>